<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="footer-fragment">
  <div class="footer">
        <div class="logo-container">
            <img th:src="@{/images/bugsnotwar.png}">
            <p>2023 MakeBugsNotWar, Inc.</p>
        </div>
        <div class="privacy">
            <h1>Contact us</h1>
            <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
            <h1>Privacy Policy</h1>
            <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
            <h1>Security</h1>
        </div>
        <div class="logo-links-container">
            <img th:src="@{/images/twitter.png}">
            <img th:src="@{/images/facebook.png}">
        </div>
  </div>
</footer>
</body>
</html>