<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="sidenav" class="side-navbar-fragment">
    <p class="proj_tool_bar">TOOLBAR</p>
    <div class="sidenav-container">
        <nav class="sidenav">
        <div class="side_links">
            <div class="link-container">
                <a th:href="@{'/view-project-tasks/'+${project.projectId}}">Tasks</a>

            </div>
            <div class="link-container">
                <a th:href="'/project-details/' + ${project.projectId}">Data</a>
            </div>
            <div class="link-container">
                <a th:href="@{'/project/'+${project.projectId}}">Board</a>
            </div>
            <div class="link-container">
                <a th:href="@{'/project-users/'+${project.projectId}}">Team</a>
            </div>
            <div class="link-container">
            <a th:href="@{'/edit-project-details/'+${project.projectId}}">Edit</a>
            </div>
        </div>
        </nav>
    </div>
</nav>
</body>
</html>