<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="sidenav" class="side-navbar-fragment">
    <p class="proj_tool_bar">TOOLBAR</p>
    <div class="sidenav-container">
        <nav class="sidenav">
        <div class="side_links">
            <div class="link-container">
                <a class="sidebar-links">Link1</a>
            </div>
            <div class="link-container">
                <a class="sidebar-links">Link2</a>
            </div>
            <div class="link-container">
                <a class="sidebar-links">Link3</a>
            </div>
            <div class="link-container">
                <a class="sidebar-links">Link4</a>
            </div>
        </div>
        </nav>
        </div>
    </div>
</nav>
</body>
</html>