<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

    <div>
        <form action="/create-task" method="post">
            <input id="projectId" name="project-id" type="hidden" th:value="${projectId}">
            <div>
                <label for="name-field">Task name:</label>
                <input id="name-field" name="task-name" type="text">
            </div>
            <br>
             <div>
                <label for="description-field">Task description:</label>
                <input id="description-field" name="task-description" type="text">
             </div>
            <br>
            <div>
                <label for="status-field">Task Status:</label>
                <input id="status-field" name="task-status" type="text">
             </div>
            <br>
            <div>
                <label for="time-field">Task time:</label>
                <input id="time-field" name="task-time" type="text">
             </div>
            <br>
            <input type="submit" value="Create task">
        </form>
    </div>

<footer th:insert="fragments/footer"></footer>
</body>
</html>