<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New project</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

    <div class="create_body">
        <form action="/create-project" method="post">

                <label for="name-field">Project name:</label>
                <input id="name-field" name="project-name" type="text" required>

                <label for="description-field">Project description:</label>
                <input id="description-field" name="project-description" type="text" required>

                <label for="board-name-field">Board name</label>
                <input id="board-name-field" name="board_name" type="text" required>

                <label for="start-date">Start date of board</label>
                <input type="date" id="start-date" name="start_date" required>

                <label for="end-date">End date of board</label>
                <input type="date" id="end-date" name="end_date" required>


            <input type="submit" value="Create project">
        </form>
        <a th:href="@{/profilePage}">Back</a>
    </div>

<footer th:insert="fragments/footer"></footer>
</body>
</html>