<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New project</title>
    <link rel="stylesheet" href="../static/css/mystyles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>
    <div class="create_body">
        <form action="/create-project" method="post">

            <div>
                <label for="name-field">Project name:</label>
                <input id="name-field" name="project-name" type="text">
            </div>
            <br>

             <div>
                <label for="description-field">Project description:</label>
                <input id="description-field" name="project-description" type="text">
             </div>
            <br>

            <input type="submit" value="Create project">
        </form>
        <a th:href="@{/profilePage}">Back</a>
    </div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>