<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

<!--<nav th:insert="fragments/sidenav"></nav>-->
<div class="container">
    <div class="create_body">
        <form action="/create-task" method="post">
            <div class="form-container-create">
            <input id="project_id" name="project_id" type="hidden" th:value="${projectId}">
            <input id="board_id" name="board_id" type="hidden" th:value="${boardId}">
            <div>
                <label for="name_field"> Task name:</label>
                <input id="name_field" name="task-name" type="text" required maxlength="45">
            </div>
            <br>
             <div>
                <label for="description_field"> Task description:</label>
                <input id="description_field" name="task-description" type="text" maxlength="45">
             </div>
            <br>
            <br>
            <div>
                <label for="story_points_field"> Task story points:</label>
                <input id="story_points_field" name="story-points" type="text" require maxlength="11">
             </div>
            <br>
            <input type="submit" value="Create task">
            </div>
        </form>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Task Creation</h1>
                    <br>
                    <p>Enter task details</p>
                    <a th:href="@{/profilePage}">Go back to profile page</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer"></footer>
</body>
</html>