<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New project</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>
<div class="container">
    <div class="create_body">
        <form action="/create-project" method="post">
            <div class="form-container-create">
                <label for="name-field"></label>
                <input id="name-field" name="project-name" type="text" placeholder="Enter project name" required>

                <label for="description-field"></label>
                <input id="description-field" name="project-description" type="text" placeholder="Enter project description" required>

                <label for="board-name-field"></label>
                <input id="board-name-field" name="board_name" type="text" placeholder="Enter first board name" required>

                <label for="start-date"></label>
                <input type="date" id="start-date" name="start_date" placeholder="Start date of first board" required>

                <label for="end-date"></label>
                <input type="date" id="end-date" name="end_date" placeholder="End date of first board" required>
                <input type="submit" value="Create project">

            </div>
        </form>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Project board creation</h1>
                    <br>
                    <p>Enter project details to start a new project</p>
                    <a th:href="@{/profilePage}">Go back to profile page</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>