<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>
<div class="container">
<div class="create_body">
  <form action="/edit-task" method="post">
    <div class="form-container-create">
    <input id="task-id" name="taskId" type="hidden" th:value="${tasks.taskId}">

    <label for="task-name">Task Name</label>
    <input id="task-name" name="taskName" type="text" th:value="${tasks.taskName}">

    <label for="task-description">Task Description</label>
    <input id="task-description" name="taskDescription" type="text" th:value="${tasks.taskDescription}">

    <input id="board-id" name="boardId" type="hidden" th:value="${tasks.boardId}">

    <label for="task-time">Task Time</label>
    <input id="task-time" name="taskTime" type="text" th:value="${tasks.taskTime}">

    <label for="story-points">Story Points</label>
    <input id="story-points" name="storyPoints" type="text" th:value="${tasks.storyPoints}">

    <input type="submit" value="Edit task">
    </div>
  </form>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Task edit</h1>
        <br>
        <p>Edit task details</p>
        <a th:href="@{/profilePage}">Go back to profile page</a>
      </div>
    </div>
  </div>
</div>
</div>
  <a th:href="'/project/' + ${tasks.boardId}">Back</a>
</div>

<footer th:insert="fragments/footer"></footer>
</body>
</html>