<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

<div class="container">
    <nav th:insert="fragments/sidenav"></nav>
</div>
<div class="landingpage-body">
    <br><br><br><br><br><br><br>
    <p>Content for body</p>
</div>

<a th:href="@{/project/13}">View project test</a>

<a class="login-page" th:href="@{/login}">Login</a>

<br>

<a th:href="@{/project/13}">View project test</a>
<a th:href="@{/project-users/8}">View project-team test</a>
<a th:href="@{/project-details/8}">View project-details test</a>

<footer th:insert="fragments/footer"></footer>
</body>
</html>