<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

<div class="container">
    <div class="login_body">
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input id="username" name="u_username" type="text">
        <label for="password">Password</label>
        <input id="password" name="u_password" type="text">
        <input type="submit" value="Login">
        <br>
        <span th:if="${loginErrorMessage} != null") th:text="${loginErrorMessage}"></span>
    </form>
    <p>Do you want to sign up as a new user?</p>
    <a class="login-page" th:href="@{/signup}">Signup</a>
    </div>

</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>