<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/mystyles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <nav th:insert="fragments/topnav"></nav>
    <div th:each="user : ${users}" class="profile_info">
    <table>
        <thead>
            <th>Username</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Job title</th>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.jobtitle}"></td>
        </tr>
        </tbody>
    </table>
        <a th:href="'/updateProfile/'+${user_id}">Update profile information</a>
    </div>
    <div th:each="project : ${projects}">
        <table>
            <thead>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project Description</th>
            </thead>
            <tbody>
            <tr>
                <td th:text="${project.projectId}"></td>
                <td th:text="${project.projectName}"></td>
                <td th:text="${project.projectDescription}"></td>
                <a th:href="'/project/' + ${project.projectId}">Link til project</a>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:insert="fragments/footer"></footer>
</div>
<a th:href="@{/create-project}">Create new project</a>
<a th:href="@{/project/8}">Link til project 8</a>
</body>
</html>