<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body class="profile-page-body">
<nav th:insert="fragments/topnav"></nav>

<div class="profile-page-container">
    <div class="profile_body">
        <div th:each="user : ${users}" class="profile_info">
            <table>
                <thead>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                    <th>Email address</th>
                    <th>Job title</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.jobTitle}"></td>
                </tr>
                </tbody>
            </table>
            <div class="profile-buttons">


                <a th:href="'/updateProfile/'+${user_id}"><button class="create-task-button">Update / delete profile information</button></a>
            </div>

        </div>

        <div th:each="project : ${projects}" class="profile-projects">
            <table>
                <thead>
                <th>Project Name</th>
                <th>Project Description</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${project.projectName}"></td>
                    <td th:text="${project.projectDescription}"></td>
                </tr>
                </tbody>
            </table>
            <a th:href="'/project/' + ${project.projectId}"><button class="link-project-button">Link to project</button></a>
        </div>
        <a th:href="@{/create-project}"><button class="create-project-button">Create new project</button></a>
    </div>

</div>

<footer th:insert="fragments/footer"></footer>
</body>
</html>