<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/mystyles.css" th:href="@{/css/styles.css}">
    <title th:text="${project.projectName}+' team members'"></title>
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

<h1 th:text="${project.projectName}"></h1>

    <div class="board">
        <div class="column">
            <h2>Team members</h2>
            <div th:each =" user: ${users}" class="user">
                <p th:text="'Username: '+${user.username}"></p>
                <p th:text="'Name: '+${user.firstname}+' '+${user.lastname}"></p>
                <p th:text="'Job title: '+${user.jobtitle}"></p>
                <p th:text="'Role(s): '+${user.projectRole}"></p>
                <p th:text="'Email: '+${user.email}"></p>
            </div>
        </div>

        <div class="column">
            <h2>Add new team members</h2>

            <form th:action="@{'/'+${project.projectId}+'/search-users'}" method="get">
                <label for="query">Search:</label>
                <input type="text" id="query" name="query">
                <button type="submit">Search</button>
            </form>

        </div>

        <div class="column">
            <div th:if="${foundUsers != null}" th:each =" user: ${foundUsers}" class="user">
                <p th:text="'Username: '+${user.username}"></p>
                <p th:text="'Name: '+${user.firstname}+' '+${user.lastname}"></p>
                <p th:text="'Job title: '+${user.jobtitle}"></p>
                <p th:text="'Email: '+${user.email}"></p>
                <a th:href="@{${project.projectId}+'/add-user-to-project/'+${user.userId}}">Add to project</a>
            </div>
        </div>
    </div>

<footer th:insert="fragments/footer"></footer>
</body>

</html>