<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.projectName}"></title>
    <link rel="stylesheet" href="../static/css/mystyles.css" th:href="@{/css/styles.css}">

</head>
<body>
<h1 th:text="${project.projectName}"></h1>
<div class="board">
    <div class="column">
        <h2>Stories</h2>
        <div th:each="task : ${tasks}" th:if="${task.taskStatus == 0}" class="task">
            <h3 th:text="${task.taskName}"></h3>
            <p th:text="${task.taskDescription}"></p>
            <p th:text="'Time:'+${task.taskTime}"></p>
            <div>
                <a th:href="@{'/edit-task/'+${task.taskId}}">Edit</a>
                <a th:href="@{'/project/'+${project.projectId}+'/move-task-right/'+${task.taskId}}">
                    <button>--></button>
                </a>
                <a th:href="@{'/project/' + ${project.projectId} + '/delete-task/' + ${task.taskId}}">Delete task</a>
            </div>
        </div>
    </div>
    <div class="column">
        <h2>To-do</h2>
        <div th:each="task : ${tasks}" th:if="${task.taskStatus == 1}" class="task">
            <h3 th:text="${task.taskName}"></h3>
            <p th:text="${task.taskDescription}"></p>
            <p th:text="'Time:'+${task.taskTime}"></p>
            <div>

                <a th:href="@{'/project/'+${project.projectId}+'/move-task-left/'+${task.taskId}}">
                    <button><--</button>
                </a>

                <a th:href="@{'/edit-task/'+${task.taskId}}">Edit</a>

                <a th:href="@{'/project/'+${project.projectId}+'/move-task-right/'+${task.taskId}}">
                    <button>--></button>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <h2>Doing</h2>
        <div th:each="task : ${tasks}" th:if="${task.taskStatus == 2}" class="task">
            <h3 th:text="${task.taskName}"></h3>
            <p th:text="${task.taskDescription}"></p>
            <p th:text="'Time:'+${task.taskTime}"></p>
            <div>

                <a th:href="@{'/project/'+${project.projectId}+'/move-task-left/'+${task.taskId}}">
                    <button><--</button>
                </a>

                <a th:href="@{'/edit-task/'+${task.taskId}}">Edit</a>

                <a th:href="@{'/project/'+${project.projectId}+'/move-task-right/'+${task.taskId}}">
                    <button>--></button>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <h2>Testing</h2>
        <div th:each="task : ${tasks}" th:if="${task.taskStatus == 3}" class="task">
            <h3 th:text="${task.taskName}"></h3>
            <p th:text="${task.taskDescription}"></p>
            <p th:text="'Time:'+${task.taskTime}"></p>
            <div>
                <a th:href="@{'/project/'+${project.projectId}+'/move-task-left/'+${task.taskId}}">
                    <button><--</button>
                </a>

                <a th:href="@{'/edit-task/'+${task.taskId}}">Edit</a>

                <a th:href="@{'/project/'+${project.projectId}+'/move-task-right/'+${task.taskId}}">
                    <button>--></button>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <h2>Review</h2>
        <div th:each="task : ${tasks}" th:if="${task.taskStatus == 4}" class="task">
            <h3 th:text="${task.taskName}"></h3>
            <p th:text="${task.taskDescription}"></p>
            <p th:text="'Time:'+${task.taskTime}"></p>
            <div>
                <a th:href="@{'/project/'+${project.projectId}+'/move-task-left/'+${task.taskId}}">
                    <button><--</button>
                </a>

                <a th:href="@{'/edit-task/'+${task.taskId}}">Edit</a>

                <a th:href="@{'/project/'+${project.projectId}+'/move-task-right/'+${task.taskId}}">
                    <button>--></button>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <h2>Done</h2>
        <div th:each="task : ${tasks}" th:if="${task.taskStatus == 5}" class="task">
            <h3 th:text="${task.taskName}"></h3>
            <p th:text="${task.taskDescription}"></p>
            <p th:text="'Time:'+${task.taskTime}"></p>
            <div>
                <a th:href="@{'/project/'+${project.projectId}+'/move-task-left/'+${task.taskId}}">
                    <button><--</button>
                </a>

                <a th:href="@{'/edit-task/'+${task.taskId}}">Edit</a>
            </div>
        </div>
    </div>
</div>

<a th:href="'/view-project-tasks/'+${project.getProjectId}">Link to tasks</a>
<a th:href="@{/profilePage}">Back to profile</a>

</body>
</html>