<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/mystyles.css" th:href="@{/css/styles.css}">
    <title>Project details</title>
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

<nav th:insert="fragments/sidenav"></nav>

<h1 th:text="'Project name: ' + ${project.projectName}"></h1>

<p th:text="'Project description: ' + ${project.projectDescription}"></p>


<a th:href="@{'/edit-project-details/'+${project.projectId}}">
  
    Edit details
</a>
<br>
<div class="container">
    <div class="board-container">
<h1> Boards on this project</h1>
<div class="board-list">
    <div class="column" th:each="board : ${boards}">
        <h1 th:text="'Board name: ' + ${board.boardName}"></h1>
        <p th:text="'Start date: ' + ${board.startDate}"></p>
        <p th:text="'End date: ' + ${board.endDate}"></p>
        <p th:text="'Story points for this board: ' + ${board.storyPointsPerBoard}"></p>
        <p th:text="'Total task-time for this board: ' + ${board.taskTimePerBoard}"></p>
        <p th:text="'Amount of tasks for this board: ' + ${board.totalTasksPerBoard}"></p>

</div>
</div>
<h1> Users on this project </h1>
<div class="board-list">
<div class="column" th:each="user : ${users}">
    <p th:text="'User name: ' + ${user.firstName} + ' ' + ${user.lastName}"></p>
    <p th:text="'User role: ' + ${user.projectRole}"></p>

</div>
</div>
</div>
</div>

<footer th:insert="fragments/footer"></footer>
</body>
</html>