<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

<div class="container">
  <div class="input-container">
    <form action="/updateProfile" method="post">
      <div class="update_info" th:each="user : ${user}">
        <input id="userid" name="user-id" type="hidden" th:value="${user_id}">

        <label for="user_name">First name</label>
        <input id="user_name" name="username" type="text" th:value="${user.username}" required>

        <label for="user_email">Last name</label>
        <input id="user_email" name="email" type="text" th:value="${user.email}" required>

        <label for="first_name">Username</label>
        <input id="first_name" name="first-name" type="text" th:value="${user.firstName}" required>

        <label for="last_name">Email address</label>
        <input id="last_name" name="last-name" type="text" th:value="${user.lastName}" required>

        <label for="job_title">Job title</label>
        <input id="job_title" name="job-title" type="text" th:value="${user.jobTitle}" required>
        <input type="submit" value="Update profile">

        <form th:action="@{'/deleteProfile/' + ${user_id}}" method="post">
          <label for="delete"><br><br><br>Write 'DELETE' to delete your profile and all its content. WARNING: this is permanent</label>
          <input type="text" id="delete" name="delete"/>
          <button type="submit">Delete my profile</button>
        </form>

    </div>
  </form>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Update your profile information</h1>
        <br>
        <p>Enter new profile information to change it</p>
        <a th:href="@{/profilePage}">Go back to profile page</a>
      </div>
    </div>
  </div>
</div>
</div>
<footer th:insert="fragments/footer"></footer>
</body>
</html>