<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:insert="fragments/topnav"></nav>

<nav th:insert="fragments/sidenav"></nav>

<div class="view-project-task-container">
<div class="tasks" th:each="task : ${tasks}">
    <table class="task-table">
        <thead>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Task Status</th>
            <th>Story Points</th>
            <th>Actions</th>
        </thead>
        <tbody>
        <tr>
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskDescription}"></td>
            <td >
                <span th:if="${task.taskStatus == 4}" th:text="'done'"></span>
                <span th:if="${task.taskStatus < 4}" th:text="'not done'"></span>
            </td>
            <td th:text="${task.storyPoints}"></td>
            <td><a th:href="'/edit-task/' + ${task.taskId}">Edit task</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<br>

<footer class="footer-nav" th:insert="fragments/footer"></footer>
</body>
</html>